html {
  font-size: $font-size;
  box-sizing: border-box;
}

/* Extiende el modelo de caja alternativo para ser heredado por el resto de elementos */

*,
*::before,
*::after {
  box-sizing: inherit;
}

.curriculum {
  margin: 0;
  padding: 30px;
  background-color: $cv-background;
}
