@import "mixins";

/* ------------------------------------*\
  #CABECERA

  Define los parámetros de la cabecera de la página como una caja flex con la
  foto de cv en una cajas y en la otra el nombre y la titulación.
  Se incluye el mediaquery para que cuando el ancho baja de 800px cambie la 
  orientación del flex a columna y situel el texto debajo de la foto.
  Como fondo se ha colocado una foto.
\*------------------------------------ */

.cabecera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-image: url(#{$imagen-fondo});
  background-size: 98% auto;
  background-color: transparent;
  max-width: 90vw;
  margin: 0 5vh 0 5vh;

  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
  }
}

// Define el h1 de la págiona que contiene el nombre del CV

.cabecera h1 {
  @include titulo-principal;
  text-align: center;
  color: $blanco;
}

// Define el h2 de la págiona que contiene el nombre del CV

.cabecera h2 {
  @include titulo-secundario;
  text-align: center;
  color: $azul-principal;
}

// Pone los estilos a la foto para que apareza dentro de un circulo.

.cabecera__foto {
  width: 200px;
  height: 200 px;
  border-radius: 103px;
  border: 3px solid #668;
  margin-top: 10px;
}
