@import "mixins";

.contacto {
  margin-top: 25px;
}

.contacto i {
  @include icono--pequenyo;
  margin-left: 10px;
}

.contacto p {
  @include texto-secundario;
  margin: 2px;
}

.contacto__titulo {
  @include titulo-secundario;
  text-align: left;
  margin-left: 15px;
}

.contacto__movil {
  @include contacto;
}

.contacto__mail {
  @include contacto;
}

.contacto__twitter {
  @include contacto;
}

.contacto__linkedin {
  @include contacto;
}

.contacto__web {
  @include contacto;
}
