@import "mixins";

/* ------------------------------------*\
 #CONTACTOS

 Define las propiedades de las clase contactos y 
 sus clases derivadas. Importa los mixins para 
 las propiedades comunes con otras clases.
\*------------------------------------ */

.contacto {
  margin-top: 25px;
}

.contacto i {
  @include icono;
  margin-left: 10px;
}

.contacto p {
  @include texto-secundario;
  margin: 2px;
}

.contacto__titulo {
  @include titulo-secundario;
  text-align: left;
  margin-left: 15px;
}

.contacto__movil {
  @include contacto;
}

.contacto__mail {
  @include contacto;
}

.contacto__twitter {
  @include contacto;
}

.contacto__linkedin {
  @include contacto;
}

.contacto__web {
  @include contacto;
}
