@import "mixins";

/* ------------------------------------*\
 #INTERES

 Define las propiedades de las clase interes y 
 sus clases derivadas. Importa los mixins para 
 las propiedades comunes con otras clases.
\*------------------------------------ */

.interes {
  margin-top: 25px;
}

.interes__cabecera {
  @include titulo-secundario;
  text-align: left;
  margin-left: 15px;
}

.interes__datos {
  @include texto-secundario;
  margin-left: 15px;
}
