@import "mixins";

.personal {
  background-color: #e5e5e5;
  color: black;
}

.datos {
  margin-top: 25px;
}

.sobre-mi__titulo {
  @include titulo-secundario;
  text-align: left;
  margin-left: 15px;
}

.sobre-mi__datos {
  @include texto-secundario;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.datos i {
  @include icono--pequenyo;
}

.datos__titulo {
  @include titulo-secundario;
  text-align: left;
  margin-left: 15px;
}

.datos__nombre {
  @include texto-secundario;
  margin-left: 15px;
  text-align: left;
}

.datos__nacimiento {
  display: flex;
  margin-left: 15px;
}

.datos__nacimiento p {
  @include texto-secundario;
  margin-left: 10px;
  text-align: left;
}
