@use "sass:color";

$font-size: 36px;
$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$cv-background: #f4f4f4;
$azul-cabecera: #007cba;
$azul-principal: #1695a2;
$gris-personal: #f2f2f2;
$gris-texto: gray;
$blanco: #fff;
$negro: #000;
$background-header: $azul-cabecera;
$background-page: $cv-background;
$separador: $negro;
$color-titulos-principal: $negro;
$imagen-fondo:"/assets/images/fondo_cabecera.png";
