@use "sass:color";

//$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-cv-sans-serif: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
$font-family-cv-serif: "Montserrat", Helvetica, Arial, Lucida, serif;

$font-size: 36px;
$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$cv-background: #f4f4f4;
$azul-cabecera: #007cba;
$azul-principal: #1695a2;
$gris-personal: #f2f2f2;
$gris-texto: gray;
$blanco: #fff;
$negro: #000;
$background-header: $azul-cabecera;
$background-page: $cv-background;
$separador: $negro;
$color-titulos-principal: $negro;
$imagen-fondo:"/assets/images/foto_amorgado_cv.png";
